.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  color: #fff;
  background-color: aqua;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
