footer {
  position: relative;
  bottom: 0;
  margin-top: auto;
  text-align: center;
  width: 100%;
  background: linear-gradient(
    135deg,
    var(--main-color) 0%,
    var(--secondary-color) 100%
  );
  color: white;
}
.about_site {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}

.about_site p {
  font-size: 1.4rem;
  max-width: 600px;
  line-height: 1.5;
}

.profil_links {
  display: flex;
  gap: 15px;
  font-size: 2.2rem;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  padding-top: 15px;
  padding-bottom: 5px;
}
